version: '3'

services:
  scimgateway:
    build: ./scimgateway
    ports:
      - "8889:8889"
    restart: always
    environment:
      mongodb-new-connector2_BASIC_0_USERNAME: wagner
      mongodb-new-connector2_BASIC_0_PASSWORD: 1236

      DATABASE_URL: mongodb+srv://wagner:1234@cluster0.22ykmnt.mongodb.net/qscim?retryWrites=true&w=majority&appName=Cluster0
    volumes:
      - data:/home/node/app/data
   
  
  
     

volumes:
  data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/wagner/Documents/qscim-files/temp/data